html {
  font-family: 'Montserrat', sans-serif;
  color: #606060;
}

/* Text features */

h1 {
  font-weight: bold;
  font-size: 36px;
  padding-bottom: 24px;
}

h2 {
  font-weight: 400;
  font-size: 24px;
}

h3 {
  font-weight: bold;
  font-size: 18px;
}

p {
  font-size: 16px;
  line-height: 150%;
}

em {
  font-style: italic;
  font-weight: 300;
}

/* not working... :( */
link {
  color: blue;
}

/* Text features */
/* Header */

header {
  display: flex;
  flex-direction: row;
  position: fixed;
  float: right;
  z-index: 5;
  background-color: #FFFFFF;
  height: 62px;
  width: 100%;
  align-items: center;
}

header img {
  margin-left: 24px;
  height: 32px;
}

header p {
  text-transform: uppercase;
  color: #BBBBBB;
  font-size: 18px;
}

header strong {
  font-weight: bold;
  color: #606060;
}

nav {
  position: absolute;
  text-align: right;
  right: 24px;
  width: 100%;
}

header li {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 16px;
}

/* Header */
/* Main banner section */

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 62px;
  background-color: #DFDFDF;
  position: relative;
  text-align: left;
}

.banner img {
  display: inline-block;
  width: 60%;
  height: 60%;
  padding: 24px 32px;
}

.banner-text {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  height: 70%;
}

.banner button {
  margin-top: 24px;
  padding: 8px;
  color: white;
  background-color: #606060;
  width: 60%;
  font-size: 16px;
  align-self: left;
}

/* Main banner section */
/* "Info-main" section */

.container {
  display: flex;
  flex-direction: row;
}

.info-main {
  display: inline-flex;
  flex-direction: column;
  width: 68%;
  padding: 32px 24px;
}

.info-main img {
  width: 100%;
  padding-bottom: 24px;
}

.sidebar {
  width: 40%;
  display: inline-flex;
  float: left;
  flex-direction: column;
}

.sidebar-item {
  display: flex;
  border: 2px solid #F4F4F4;
}

/* height not right */
.sidebar-item img {
  width: 35%;
  height: auto;
  overflow: hidden;
  padding: 16px;
}

.sidebar-text {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;
  justify-content: center;
}

/* "Info-main" section */
/* "Start learning" (courses) section */

.course-container {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  text-align: center;
  justify-content: center;
  background-color: #DFDFDF;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: center;
  margin: 0 72px;
}

.course-box {
  background-color: #FFFFFF;
  text-align: left;
  height: auto;
  width: 350px;
  margin: 0 16px 32px;
}

.course-box img {
  height: 179px;
  overflow: hidden;
  position: center;
}

.course-textbox {
  padding: 16px;
}

/* "Start learning" (courses) section */
/* "Thesis exhibit" section */

.thesis {
  display: flex;
  flex-direction: column;
}

.thesis h1{
  padding: 32px;
  text-align: center;
}

.thesis h3 {
  padding-top: 24px;
  padding-bottom: 8px;
}

.thesis p {
  padding-bottom: 32px;
}

.video {
  width: 60%;
  padding: 24px;
  padding-top: 0;
}

video {
  width: 100%;
}

/* "Thesis exhibit" section */
/* Footer */

footer {
  width: 100%;
  padding: 16px 0 32px 24px;
  border-top: 2px solid #F4F4F4;
}

footer li {
  width: 100%;
  display: flex;
  flex-direction: row; /* won't be horizontal */
  text-align: right;
  padding: 12px;
}

/* Footer */

@media only screen and (max-width: 600px) {

}
