html {
  font-family: 'Montserrat', sans-serif;
  color: #606060;
}

.mobile {
  display: none;
}

/* Text features */

h1 {
  font-weight: bold;
  font-size: 36px;
  padding-bottom: 24px;
}

h2 {
  font-weight: 400;
  font-size: 24px;
}

h3 {
  font-weight: bold;
  font-size: 18px;
}

p {
  font-size: 16px;
  line-height: 150%;
}

em {
  font-style: italic;
  font-weight: 300;
}

/* not working... :( */
a {
  color: #5DB8FC;
  text-decoration: none;
}

/* Text features */
/* Header */

header {
  display: flex;
  flex-direction: row;
  position: fixed;
  float: right;
  align-items: center;
  z-index: 5;
  background-color: #FFFFFF;
  height: 62px;
  width: 100%;
}

header img {
  margin-left: 24px;
  height: 32px;
}

header p {
  text-transform: uppercase;
  color: #BBBBBB;
  font-size: 18px;
}

header strong {
  font-weight: bold;
  color: #606060;
}

nav {
  position: fixed;
  text-align: right;
  right: 24px;
  width: 100%;
}

header a {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 16px;
}

@media only screen and (max-width: 800px) {
  header nav, header p {
    display: none;
  }

  header img {
    display: flex;
    justify-content: center; /* not working */
  }

  .mobile {
    display: flex;
  }
}

/* Header */
/* Main banner section */

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 62px;
  background-color: #DFDFDF;
  position: relative;
  text-align: left;
}

.banner img {
  display: inline-block;
  width: 60%;
  height: 60%;
  padding: 24px 32px;
}

.banner-text {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin: 32px 24px;
  height: 70%;
}

.banner button {
  margin-top: 24px;
  padding: 8px;
  color: white;
  background-color: #606060;
  width: 60%;
  font-size: 16px;
  align-self: left;
}

@media only screen and (max-width: 800px) {
  .banner img, .banner-text {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .banner {
    flex-direction: column;
    text-align: center;
  }

  .banner button {
    align-self: center;
  }

  .banner-text {
    padding: 32px 16px;
  }
}

/* Main banner section */
/* "Info-main" section */

.container {
  display: flex;
  flex-direction: row;
}

#on-campus {
  display: inline-flex;
  flex-direction: column;
  width: 68%;
  padding: 32px 24px;
}

#on-campus img {
  width: 100%;
  padding-bottom: 24px;
}

.sidebar {
  width: 40%;
  display: inline-flex;
  float: left;
  flex-direction: column;
}

.sidebar-item {
  display: flex;
  border: 2px solid #F4F4F4;
}

/* height not right */
.sidebar-item img {
  width: 35%;
  height: auto;
  max-height: 150px;
  overflow: hidden;
  padding: 16px;
}

.sidebar-text {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;
  justify-content: center;
  line-height: 2;
}

@media only screen and (max-width: 800px) {
  .on-campus-desktop {
    display: none;
  }

  .sidebar-item { /* needs to override container... */
    width: 100%;
  }
}


/* "Info-main" section */
/* "Start learning" (courses) section */

#online{
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  text-align: center;
  justify-content: center;
  background-color: #DFDFDF;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: center;
  margin: 0 72px;
}

.course-box {
  background-color: #FFFFFF;
  text-align: left;
  height: auto;
  width: 350px;
  margin: 0 16px 32px;
}

.course-box img {
  height: 179px;
  overflow: hidden;
  position: center;
}

.course-textbox {
  padding: 16px;
}

@media only screen and (max-width: 800px) {
  .course-box img, .courses p {
    display: none;
  }
}

/* "Start learning" (courses) section */
/* "Thesis exhibit" section */

#thesis {
  display: flex;
  flex-direction: column;
}

#thesis h1{
  padding: 32px;
  text-align: center;
}

#thesis h3 {
  padding-top: 24px;
  padding-bottom: 8px;
}

#thesis p {
  padding-bottom: 32px;
}

.video {
  width: 60%;
  padding: 24px;
  padding-top: 0;
}

video {
  width: 100%;
}

@media only screen and (max-width: 800px) {
/*
  .video, #thesis .container {
    display: none;
  } */

  #thesis .sidebar, .video p, .video h3 {
    display: none;
  }

  .video { /* Need to only show video for this section*/
    width: 100%;
    padding: 0 0 24px 0;
  }

  #thesis .sidebar
}

/* "Thesis exhibit" section */
/* Footer */

footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 16px 0 32px 24px;
  border-top: 2px solid #F4F4F4;
}

footer li {
  width: 100%;
  text-align: right;
  padding: 12px;
}

/* Footer */

@media only screen and (max-width: 800px) {
  footer li {
    display: none;
  }
}
